Flask==0.10.1
Flask-Shelve==0.1.1
Flask-WTF==0.10.3
Jinja2==2.7.3
MarkupSafe==0.23
WTForms==2.0.1
Werkzeug==0.9.6
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.18
celery==3.1.16
itsdangerous==0.24
kombu==3.0.23
pytz==2014.9
wsgiref==0.1.2
