<!DOCTYPE html>
<html>
    <head>
        <title>MEI Customization Service</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>MEI Customization Service</h1>
            </header>
            {% block body %}

            {% endblock %}
            <hr />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">MEI Source Information</h3>
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>
                            Development Version:
                        </dt>
                        <dd>
                            <ul>
                            {% for rev, info in latest_revisions %}
                            <li><a href="https://github.com/music-encoding/music-encoding/commit/{{ info[0] }}">{{ rev }}</a> ({{ info[1] }}) </li>
                            {% endfor %}
                            </ul>
                        </dd>
                        <dt>TEI Processing Tools:</dt>
                        <dd><a href="https://github.com/TEIC/Stylesheets">Stylesheets</a> version: {{ tei_stylesheets_version }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        {% block scripts %}

        {% endblock %}
    </body>
</html>