<!DOCTYPE html>
<html>
    <head>
        <title>MEI Customization Service</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>MEI Customization Service</h1>
            </header>
            {% block body %}

            {% endblock %}
            <footer>
                Development Version: r{{ latest_revision }}.
            </footer>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </body>
</html>