{% extends "base.html" %}

{% block body %}
<form action="/" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <strong>Problems with your submission</strong>
            Please correct the errors below and try again.
        </div>
    {% endif %}
    <section>
        <h2>Output</h2>
        {{ form.schema_language }}

        {% if form.schema_language.errors %}
        <div class="alert alert-danger">
            {% for error in form.schema_language.errors %}
                <strong>{{ form.schema_language.label.text }}:</strong> {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </section>
    <section>
        <h2>MEI Source File</h2>
        <div class="form-group">
            {{ form.source_options }}
        </div>
        <div class="form-group" id="local-source-select">
            <label for="{{ form.source_canonical_file.label.field_id }}">{{ form.source_canonical_file.label.text }}</label>
            {{ form.source_canonical_file }}
        </div>
        {% if form.source_canonical_file.errors %}
            <div class="alert alert-danger">If you chose the local driver option, you must provide the file.</div>
        {% endif %}

        {% if form.source_options.errors %}
            <div class="alert alert-danger">
                {% for error in form.source_options.errors %}
                    <strong>{{ form.source_options.label.text }}:</strong> {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </section>
    <section>
        <h2>MEI Customization</h2>
        <div class="form-group">
            <p>Select a customization from the dropdown list:</p>
            {{ form.customization_options }}
        </div>
        <div class="form-group" id="local-customization-select">
            <label for="{{ form.local_customization_file.label.field_id }}">{{ form.local_customization_file.label.text }}</label>
            {{ form.local_customization_file }}
        </div>

        {% if form.local_customization_file.errors %}
            <div class="alert alert-danger">
                If you chose the local customization option you must provide the file.
            </div>
        {% endif %}

        {% if form.customization_options.errors %}
        <div class="alert alert-danger">
            {% for error in form.customization_options.errors %}
                <strong>{{ form.customization_options.label.text }}:</strong> {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </section>
    <section>
        <button class="btn btn-primary">Process</button>
    </section>
</form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    $(document).ready(function ()
    {
        $("#local-customization-select").hide();
        $("#local-source-select").hide();

        $("#source_options").change( function ()
        {
            if (this.value === "local-source")
            {
                $("#local-source-select").slideDown();

            }
        });

        $("#customization_options").change( function ()
        {
            if (this.value === "z-local-customization")
            {
                $("#local-customization-select").slideDown();

            }
        });
    });
    </script>
{% endblock %}